@charset "utf-8";

*{
	padding: 0px;
	margin: 0px;
}

h1{
	font-family: arial, sans-serif;
	font-weight: 400;
	height: 80px;
	width: 100%;
	background: #42a5f5;
	line-height: 60px;
	color: white;
}

div{
	width: 250px;
	height: 800px;
	background: #42a5f5;
}

div a{
	text-decoration: none;
	color: white;
	padding: 20px;
	padding-right: 100px;
}

div ul li{
	list-style-type: none;
	display: block;
	padding: 15px;
	border-bottom: 1px solid #CCC;
}

div ul li:hover{
	background: #666;
	transition: linear all 0.04s;
	margin-left: 10px;
}
